div {
    height: 200px;
    width:100%;
    display:inline-block;
    float:left;
    text-decoration: none;
    font-family: monaco;
    font color: white;
  }

a {
  text-decoration: none;
  border-radius: 7;
  border-style: outset;
  border-color: red;
  color: red;
}

a:visited {
    color: white;
    border-color: white;
  }

a:link {
  color: red;
  border-color: red;
}

a:hover {
  color: yellow;
  border-color: yellow;
}

body{
  background-color: red;
  margin: 0;
}

.midja{
  background: black;
  height: 100vh;
  vertical-align: 50%;
  display: grid;
  place-items: center;
  font-size: 50px;
}
